/* grid */
@import "../css/bootstrap-grid.css";
/* variables */
/* color */
/* background-color */
/* font-color */
/* font-size: mixin */
/* line-height: mixin */
/* font-size for mixin */
/* font-weight */
/* line-height */
/* padding */
/* border */
/* button */
/* link */
/* grid */
/* common */
/* h */
h1 {
  font-family: Baskerville, serif;
  font-size: min(calc(28px + 20 * ((100vw - 320px) / 1120)), 48px);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: Baskerville, serif;
  font-size: min(calc(24px + 8 * ((100vw - 320px) / 1120)), 32px);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

h3 {
  font-family: Baskerville, serif;
  font-size: min(calc(24px + 8 * ((100vw - 320px) / 1120)), 32px);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-family: Baskerville, serif;
  font-size: min(calc(18px + 0 * ((100vw - 320px) / 1120)), 18px);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.header__background-line {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 352 9'%3E%3Crect width='352' height='9' rx='4.5' fill='%2316ECB9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: left bottom 0.25em;
}

.header__background-line--magenta {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 352 9'%3E%3Crect width='352' height='9' rx='4.5' fill='%23F20D9D'/%3E%3C/svg%3E");
}

.demo-video-btn {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 16px;
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .demo-video-btn {
    justify-content: center;
  }
}
.demo-video-btn::after {
  display: inline-block;
  content: "";
  background-image: url(../img/icon-play.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* icon */
.icon--ok {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.icon--tooltip {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 0 -5px 15px;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 12c0 6.075 4.925 11 11 11s11-4.925 11-11S18.075 1 12 1 1 5.925 1 12Zm20 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 4.998a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM11 14h2c0-.798.125-.945.947-1.356C15.375 11.93 16 11.202 16 9.5 16 7.32 14.284 6 12 6a4 4 0 0 0-4 4h2a2 2 0 0 1 2-2c1.277 0 2 .556 2 1.5 0 .798-.125.945-.947 1.356C11.625 11.57 11 12.298 11 14Z' fill='%23BDBDBD'/%3E%3C/svg%3E");
}
.icon--tooltip:hover {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.75 9a8.25 8.25 0 1 0 16.5 0A8.25 8.25 0 0 0 .75 9Zm15 0a6.75 6.75 0 1 1-13.5 0 6.75 6.75 0 0 1 13.5 0ZM9 12.749a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 10.5h1.5c0-.599.094-.709.71-1.017C11.532 8.948 12 8.401 12 7.125 12 5.49 10.713 4.5 9 4.5a3 3 0 0 0-3 3h1.5A1.5 1.5 0 0 1 9 6c.958 0 1.5.417 1.5 1.125 0 .599-.094.709-.71 1.017-1.072.535-1.54 1.082-1.54 2.358Z' fill='%2356D2AE'/%3E%3C/svg%3E");
}
.icon--tooltip-mini {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
}

/* buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;
  border-radius: 8px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 3px solid transparent;
  width: 100%;
}
.btn:focus, .btn:hover {
  border: 3px solid #40ECC3;
  filter: drop-shadow(0px 0px 6px black);
}

.btn--magenta {
  background-color: #F20D9D;
  color: #ffffff;
}

.btn--white {
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #000000;
}
.btn--white:focus, .btn--white:hover {
  border: 3px solid transparent;
  background-color: #40ECC3;
}

.btn--cian {
  background-color: #5284ED;
  color: #ffffff;
}
.btn--cian:before {
  display: inline-block;
  content: "";
  background-image: url(../img/icons-google.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.btn--lang {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(../img/lang-usa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* for js */
/* class for menu*/
.show {
  display: flex !important;
}

.menu--active {
  display: block !important;
}

/* overflow for body */
.body--hidden {
  overflow: hidden;
}

/* table */
@media (max-width: 767px) {
  .table--hidden {
    display: none;
  }
}

.hidden {
  display: none !important;
}

/* blocks */
@font-face {
  font-family: Poppins, sans-serif;
  src: url(../font/Poppins.ttf) format("truetype");
}
@font-face {
  font-family: Baskerville, serif;
  src: url(../font/LibreBaskerville.ttf) format("truetype");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  font-family: Poppins, sans-serif;
  font-size: min(calc(16px + 2 * ((100vw - 320px) / 1120)), 18px);
  font-weight: 400;
  line-height: 1.5;
}

.header {
  position: sticky;
  top: -6px;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.14);
}
.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 20px;
  flex-direction: row;
}
@media (max-width: 991px) {
  .header .navbar {
    flex-direction: column;
  }
}
.header .navbar__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
@media (max-width: 991px) {
  .header .navbar__box {
    width: 100%;
  }
}
.header .navbar__brand {
  width: auto;
  height: 100%;
  display: block;
}
@media (max-width: 991px) {
  .header .navbar__brand {
    width: 65px;
    vertical-align: middle;
  }
}
.header .navbar__brand img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.header .navbar__toggler {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .header .navbar__toggler {
    display: none;
  }
}
.header .navbar__toggler rect {
  transition: transform 0.25s;
}
.header .navbar__toggler .toggler--active rect:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 5px 7px;
}
.header .navbar__toggler .toggler--active rect:nth-of-type(2) {
  display: none;
}
.header .navbar__toggler .toggler--active rect:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 3px 16px;
}
@media (max-width: 991px) {
  .header .navbar__canvas {
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 10vw;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575px) {
  .header .navbar__canvas {
    padding: 50px 20px;
  }
}
@media (min-width: 992px) {
  .header .navbar__canvas {
    background-color: transparent;
    display: flex !important;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .header .navbar__canvas {
    column-gap: 3vw;
  }
}
@media (min-width: 1400px) {
  .header .navbar__canvas {
    column-gap: 125px;
  }
}
.header .navbar__nav {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  position: relative;
}
.header .navbar__nav a {
  font-weight: 400;
}
@media (max-width: 991px) {
  .header .navbar__nav {
    display: block;
  }
  .header .navbar__nav a {
    display: block;
    padding: 10px;
  }
  .header .navbar__nav li {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-radius: 8px;
    text-align: center;
  }
  .header .navbar__nav li:active,
  .header .navbar__nav li:hover,
  .header .navbar__nav li:focus {
    background-color: #40ECC3;
  }
}
@media (min-width: 992px) {
  .header .navbar__nav {
    flex-direction: row;
    flex-grow: 1;
    column-gap: 45px;
  }
  .header .navbar__nav a:hover,
  .header .navbar__nav a:focus {
    color: #40ECC3;
  }
}
@media (max-width: 1199px) {
  .header .navbar__nav {
    column-gap: 25px;
  }
}
.header .navbar__nav .dropdown {
  display: block;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .header .navbar__nav .dropdown:hover > .dropdown__menu {
    display: block;
  }
}
.header .navbar__nav .dropdown__menu {
  position: absolute;
  width: max-content;
  padding: 10px;
  display: none;
  right: 50%;
  transform: translate(50%, 0);
  background-color: #ECECEC;
  border-radius: 8px;
  z-index: 5;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .header .navbar__nav .dropdown__menu {
    position: fixed;
    width: 50vw;
  }
}
.header .navbar__nav .dropdown__menu--inner {
  position: absolute;
  right: -50%;
  top: 0;
}
@media (max-width: 991px) {
  .header .navbar__nav .dropdown__menu--inner {
    position: static;
    width: 100%;
    transform: none;
  }
}
.header .navbar__nav .dropdown__toggler {
  display: block;
  color: #000000;
}
.header .navbar__nav .dropdown__toggler::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: center;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.header .navbar__nav .dropdown__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #000000;
}
.header .navbar__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
@media (max-width: 991px) {
  .header .navbar__buttons {
    padding-top: 30px;
    flex-direction: row;
    width: 85%;
  }
}
@media (max-width: 575px) {
  .header .navbar__buttons {
    padding-top: 30px;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .header .navbar__buttons {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .header .navbar__buttons {
    column-gap: 30px;
  }
}
@media (min-width: 992px) {
  .header .navbar__lang--mobile {
    display: none;
  }
}
@media (max-width: 991px) {
  .header .navbar__lang {
    display: none;
  }
}

.hero {
  padding: 72px 0 0;
}
@media (max-width: 991px) {
  .hero {
    padding: 18px 0 0;
  }
}
.hero__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 991px) {
  .hero__content {
    text-align: center;
    align-items: center;
  }
}
.hero__visual--mobile {
  width: 100%;
  max-width: 420px;
  height: auto;
  display: none;
}
@media (max-width: 991px) {
  .hero__visual--mobile {
    display: block;
  }
}
.hero__buttons {
  display: flex;
  gap: 10px 15px;
  flex-wrap: wrap;
}
.hero__buttons a:nth-child(1) {
  order: 1;
}
.hero__buttons a:nth-child(2) {
  order: 2;
}
.hero__buttons a:nth-child(3) {
  order: 3;
}
@media (max-width: 991px) {
  .hero__buttons {
    align-items: center;
    justify-content: center;
  }
  .hero__buttons a:nth-child(3) {
    order: 1;
  }
}
@media (max-width: 767px) {
  .hero__buttons a:nth-child(3) {
    order: 3;
  }
}
@media (max-width: 575px) {
  .hero__buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero__buttons a:nth-child(3) {
    order: 0;
  }
}
@media (min-width: 1200px) {
  .hero__buttons a {
    width: fit-content;
  }
}
@media (max-width: 991px) {
  .hero__buttons a {
    width: fit-content;
  }
}
@media (max-width: 575px) {
  .hero__buttons a {
    width: 100%;
  }
}
.hero__visual-content {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .hero__visual-content {
    display: none;
  }
}
.hero__visual-content .timetable__box--pc {
  width: 90%;
  height: 95%;
  max-width: 600px;
  margin: 0 auto 20px;
}
.hero__visual-content .timetable {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  border-collapse: collapse;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: auto;
  font-size: 8px;
  font-weight: 400;
  line-height: 9px;
  box-shadow: 0px 0px 30px -5px rgba(2, 2, 2, 0.2);
}
.hero__visual-content .timetable thead {
  background-color: #ffffff;
}
.hero__visual-content .timetable thead th {
  padding: 5px 0;
  margin: auto;
}
.hero__visual-content .timetable thead span {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero__visual-content .timetable thead th:nth-of-type(2) span {
  background-color: #ED52CB;
}
.hero__visual-content .timetable thead th:nth-of-type(3) span {
  background-color: #5284ED;
}
.hero__visual-content .timetable thead th:nth-of-type(4) span {
  background-color: #ED5252;
}
.hero__visual-content .timetable thead th:nth-of-type(5) span {
  background-color: #55B59D;
}
.hero__visual-content .timetable thead th:nth-of-type(6) span {
  background-color: #E1C548;
}
.hero__visual-content .timetable thead th:nth-of-type(7) span {
  background-color: #8D52ED;
}
.hero__visual-content .timetable thead th:nth-of-type(8) span {
  background-color: #52DAED;
}
.hero__visual-content .timetable tbody {
  background-color: #ffffff;
  box-shadow: inset 0px 5px 2px -2px rgba(2, 2, 2, 0.2);
}
.hero__visual-content .timetable tbody tr:first-child td {
  border-top: none;
}
.hero__visual-content .timetable tbody tr:first-child td:hover {
  background-color: transparent !important;
}
.hero__visual-content .timetable tbody tr td:last-child {
  border-right: none;
}
.hero__visual-content .timetable tbody td {
  border: 1px solid #EBEBEB;
  width: 13%;
  height: 10%;
  color: #ECECEC;
}
.hero__visual-content .timetable tbody td:hover {
  background-color: #ECECEC;
}
.hero__visual-content .timetable tbody td:first-child {
  color: gray;
  border: none;
  width: 40px;
  position: relative;
}
.hero__visual-content .timetable tbody td:first-child sub {
  position: absolute;
  top: -5px;
  right: 5px;
}
.hero__visual-content .timetable__col {
  padding: 5px;
}
.hero__visual-content .timetable__col:hover {
  background-color: #40ECC3 !important;
}
.hero__visual-content .timetable__col--pink {
  background-color: #ED52CB;
}
.hero__visual-content .timetable__col--cian {
  background-color: #5284ED;
}
.hero__visual-content .timetable__col--red {
  background-color: #ED5252;
}
.hero__visual-content .timetable__col--aquamarine {
  background-color: #55B59D;
}
.hero__visual-content .timetable__col--yellow {
  background-color: #E1C548;
}
.hero__visual-content .timetable__col--purple {
  background-color: #8D52ED;
}
.hero__visual-content .timetable__col--blue {
  background-color: #52DAED;
}
.hero__visual-content .timetable__box--phone {
  border-radius: 15px;
  width: 130px;
  max-height: 275px;
  border: 4px solid white;
  box-shadow: 13px -5px 20px 0px rgba(2, 2, 2, 0.2);
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.hero__visual-content .timetable--phone {
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.hero__visual-content .timetable--phone thead th:nth-of-type(2) span {
  background-color: #55B59D;
}
.hero__visual-content .timetable--phone tbody tr:last-child td {
  border-bottom: none;
}
.hero__visual-content .timetable--phone tbody td {
  width: 75%;
  height: 20px;
}
.hero__visual-content .timetable--phone tbody .timetable__col {
  padding: 0 2px;
}
.hero__visual-content .timetable__records {
  position: absolute;
  bottom: calc(50% - 10px);
  right: 12px;
}
.hero__visual-content .timetable__remainders {
  position: absolute;
  bottom: calc(50% - 10px);
  right: 190px;
}
.hero__visual-content .timetable__booking {
  position: absolute;
  right: 155px;
  bottom: -10px;
}
.hero__visual-content .timetable__payments {
  position: absolute;
  right: 0px;
  bottom: 35px;
}
.hero__visual-content > div {
  opacity: 0;
}
.hero__visual-content > div:nth-child(1) {
  opacity: 1;
}
.hero__visual-content > div:nth-child(2) {
  animation: ani 1s forwards 0.5s;
}
.hero__visual-content > div:nth-child(3) {
  animation: ani 1s forwards 2s;
}
.hero__visual-content > div:nth-child(4) {
  animation: ani 1s forwards 3s;
}
.hero__visual-content > div:nth-child(5) {
  animation: ani 1s forwards 4s;
}
.hero__visual-content > div:nth-child(6) {
  animation: ani 1s forwards 5s;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.optimisation {
  text-align: center;
}
.optimisation h2 {
  padding: 72px 0;
}
@media (max-width: 767px) {
  .optimisation h2 {
    padding: 50px 0 32px;
  }
}
.optimisation__fifty-fifty {
  padding: 0 !important;
  margin: 0 !important;
}
.optimisation__before {
  background-color: #F767C1;
  display: flex;
  justify-content: end;
  height: 100%;
}
@media (max-width: 767px) {
  .optimisation__before {
    justify-content: center;
  }
}
.optimisation__after {
  background-color: #16ECB9;
  display: flex;
  justify-content: start;
  height: 100%;
}
@media (max-width: 767px) {
  .optimisation__after {
    justify-content: center;
  }
}
.optimisation__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  max-width: 620px;
}
@media (max-width: 767px) {
  .optimisation__list {
    width: 100%;
  }
}
.optimisation__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 550px;
  padding: 40px 65px;
}
@media (max-width: 767px) {
  .optimisation__item {
    padding: 40px 15px;
    row-gap: 20px;
    min-height: auto;
  }
}
.optimisation__item .item__podscript {
  font-weight: 700;
}
.optimisation__item .item__picture {
  width: auto;
}
.optimisation__item .item__picture img {
  max-width: 100%;
  max-height: 320px;
}
@media (max-width: 991px) {
  .optimisation__item .item__picture img {
    height: auto;
  }
}
.optimisation__item .item__text {
  width: 100%;
}

.ways h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .ways h2 {
    padding: 50px 0 32px;
  }
}
.ways__list {
  white-space: nowrap;
  width: 85%;
  margin-right: auto;
}
@media (max-width: 767px) {
  .ways__list {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .ways__list {
    padding: 32px 0;
  }
}
.ways__title {
  display: inline-block;
  width: 75%;
  white-space: normal;
}
.ways__dropdown {
  border: 1px solid #162637;
  border-radius: 8px;
  margin-bottom: 6px;
  padding: 15px;
  color: #000000;
  font-weight: 600;
}
.ways__dropdown:hover {
  cursor: pointer;
}
.ways__dropdown:hover .ways__text {
  display: block;
}
.ways__dropdown:hover .icon--arrow {
  transition: transform 0.25s;
  transform: rotate(90deg);
}
.ways__dropdown .icon--arrow {
  display: inline-block;
  width: 20px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4395 7.94992H0.75C0.335786 7.94992 0 7.61414 0 7.19992C0 6.78571 0.335786 6.44992 0.749999 6.44992H17.4395L12.719 1.73092C12.5782 1.59009 12.4991 1.39909 12.4991 1.19992C12.4991 1.00076 12.5782 0.809752 12.719 0.668922C12.8598 0.528092 13.0508 0.448975 13.25 0.448975C13.4492 0.448975 13.6402 0.528092 13.781 0.668922L19.781 6.66892C19.8508 6.73859 19.9063 6.82135 19.9441 6.91247C19.9819 7.00359 20.0013 7.10127 20.0013 7.19992C20.0013 7.29857 19.9819 7.39625 19.9441 7.48737C19.9063 7.57849 19.8508 7.66125 19.781 7.73092L13.481 14.0309C13.3402 14.1718 13.1492 14.2509 12.95 14.2509C12.7508 14.2509 12.5598 14.1718 12.419 14.0309C12.2782 13.8901 12.1991 13.6991 12.1991 13.4999C12.1991 13.3008 12.2782 13.1097 12.419 12.9689L17.4395 7.94992Z' fill='%23162637'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-right: 30px;
}
.ways__dropdown:nth-child(n)::before {
  float: right;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.ways__dropdown:nth-child(1)::before {
  content: "01";
}
.ways__dropdown:nth-child(2)::before {
  content: "02";
}
.ways__dropdown:nth-child(3)::before {
  content: "03";
}
.ways__dropdown:nth-child(4)::before {
  content: "04";
}
.ways__dropdown:nth-child(5)::before {
  content: "05";
}
.ways__text {
  font-weight: 400;
  display: none;
  white-space: normal;
}
.ways__full-list {
  width: 100%;
  text-align: left;
  padding-top: 32px;
}
@media (max-width: 991px) {
  .ways__full-list {
    text-align: center;
  }
}
.ways__link {
  display: inline-block;
  color: #40ECC3;
}
.ways__picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ways__picture {
  text-align: end;
}
.ways__picture img {
  max-width: 100%;
  width: 100%;
}

.set-up h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .set-up h2 {
    padding: 50px 0 32px;
  }
}
.set-up__picture img {
  max-width: 100%;
  width: 100%;
}
.set-up__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  height: 100%;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .set-up__list {
    padding: 32px 0;
  }
}
.set-up__item {
  font-weight: 600;
  position: relative;
}
.set-up__item:last-child {
  padding-bottom: 0;
}
.set-up__item:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: -40px;
}
@media (max-width: 575px) {
  .set-up__item:before {
    left: -27px;
  }
}

.rewiews h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .rewiews h2 {
    padding: 50px 0 32px;
  }
}
.rewiews .icon--heart {
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='26' viewBox='0 0 28 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.8438 5.86252C26.4249 4.89264 25.8209 4.01374 25.0656 3.27502C24.3098 2.5341 23.4186 1.94531 22.4406 1.54065C21.4265 1.11938 20.3388 0.903744 19.2406 0.906272C17.7 0.906272 16.1969 1.32815 14.8906 2.12502C14.5781 2.31565 14.2812 2.52502 14 2.75315C13.7188 2.52502 13.4219 2.31565 13.1094 2.12502C11.8031 1.32815 10.3 0.906272 8.75937 0.906272C7.65 0.906272 6.575 1.11877 5.55937 1.54065C4.57812 1.9469 3.69375 2.53127 2.93437 3.27502C2.17811 4.0129 1.57399 4.89201 1.15625 5.86252C0.721875 6.8719 0.5 7.94377 0.5 9.0469C0.5 10.0875 0.7125 11.1719 1.13438 12.275C1.4875 13.1969 1.99375 14.1531 2.64062 15.1188C3.66563 16.6469 5.075 18.2406 6.825 19.8563C9.725 22.5344 12.5969 24.3844 12.7188 24.4594L13.4594 24.9344C13.7875 25.1438 14.2094 25.1438 14.5375 24.9344L15.2781 24.4594C15.4 24.3813 18.2687 22.5344 21.1719 19.8563C22.9219 18.2406 24.3313 16.6469 25.3563 15.1188C26.0031 14.1531 26.5125 13.1969 26.8625 12.275C27.2844 11.1719 27.4969 10.0875 27.4969 9.0469C27.5 7.94377 27.2781 6.8719 26.8438 5.86252Z' fill='%23F20D9D'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 28px;
  height: 26px;
}
.rewiews__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .rewiews__card {
    text-align: center;
  }
}
.rewiews__card .card__photo {
  width: 102px;
  height: 102px;
}
.rewiews__card .card__text {
  padding: 24px;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .rewiews__card .card__text {
    padding: 24px 0;
  }
}
.rewiews__card .card__text h4 {
  padding: 0 0 14px;
}
.rewiews__link {
  text-align: center;
}
.rewiews__link a {
  display: inline-block;
  color: #40ECC3;
}

.tariff h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .tariff h2 {
    padding: 50px 0 32px;
  }
}
.tariff h2 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding-top: 42px;
}
@media (max-width: 575px) {
  .tariff h2 small {
    display: none;
  }
}
.tariff__cards {
  display: flex;
  justify-content: center;
  row-gap: 20px;
}
.tariff-card {
  background-color: #FFFFFF;
  border: 1px solid #162637;
  border-radius: 8px;
  text-align: center;
  padding: 24px 32px 42px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 24px;
}
@media (max-width: 575px) {
  .tariff-card {
    row-gap: 12px;
    padding-bottom: 12px;
  }
}
.tariff-card__price {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
}
.tariff-card__operations {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #162637;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 20px;
}
.tariff-card__operations:hover {
  transform: scale(1.3);
}
.tariff-card__operations--plus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 1V5M5 5V9M5 5H9M5 5H1' stroke='%23162637' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.tariff-card__operations--minus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='2' viewBox='0 0 10 2' fill='none'%3E%3Cpath d='M9 1H1' stroke='%23162637' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.tariff-card__price-of {
  font-weight: 600;
}
.tariff-card__features {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-bottom: auto;
}
.tariff-card__total-price {
  min-height: 50px;
  font-weight: 600;
  color: #F20D9D;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.tariff-card__started {
  width: auto;
}
@media (max-width: 575px) {
  .tariff-card__started {
    width: 100%;
  }
}
.tariff__coast {
  text-align: center;
}

.progress h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .progress h2 {
    padding: 50px 0 32px;
  }
}
.progress__content-box {
  justify-content: space-evenly;
  row-gap: 30px;
}
.progress__picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.progress__picture {
  width: 100%;
  display: grid;
  grid-template-columns: 13% 1fr 12%;
  grid-template-rows: 1fr 1fr;
}
.progress__picture img {
  width: 100%;
  grid-area: 1/1/3/4;
}
.progress__our-years {
  grid-area: 2/2/2/2;
  justify-self: center;
  align-self: center;
  font-family: Libre Baskerville, serif;
  font-weight: 700;
  line-height: 1.2;
  color: #40ECC3;
  font-size: min(calc(28px + 20 * ((100vw - 320px) / 1120)), 48px);
}
.progress__box {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.progress__list {
  width: 90%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.progress__item {
  position: relative;
  font-weight: 600;
}
.progress__item:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: -40px;
}
@media (max-width: 575px) {
  .progress__item:before {
    left: -27px;
  }
}
.progress__partners {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
}
@media (max-width: 767px) {
  .progress__partners {
    justify-content: space-evenly;
  }
}
.progress__partners p {
  font-weight: 600;
  width: 100%;
}
@media (max-width: 767px) {
  .progress__partners p {
    display: none;
  }
}
@media (max-width: 767px) {
  .progress__about-us {
    display: none;
  }
}

.faq h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .faq h2 {
    padding: 50px 0 32px;
  }
}
.faq h2 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding-top: 42px;
}
@media (max-width: 575px) {
  .faq h2 small {
    display: none;
  }
}
.faq__item {
  font-size: 16px;
  line-height: 1.5;
}
.faq__question {
  font-weight: 600;
}
.faq__answer {
  font-weight: 400;
  padding: 14px 0px 37px 0;
}
@media (max-width: 575px) {
  .faq__answer {
    padding: 14px 0 24px 0;
  }
}

.preference h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .preference h2 {
    padding: 50px 0 32px;
  }
}
.preference h2 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 auto;
  padding-top: 42px;
  width: 60%;
}
@media (max-width: 767px) {
  .preference h2 small {
    width: 100%;
  }
}
.preference__list-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.preference__list {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  row-gap: 30px;
}
@media (max-width: 575px) {
  .preference__list {
    flex-direction: column;
  }
}
.preference__item {
  position: relative;
}
.preference__item:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: -30px;
}
@media (max-width: 575px) {
  .preference__item:before {
    left: -27px;
  }
}
.preference__sing-up {
  text-align: center;
  margin-top: 60px;
}
.preference__sing-up a {
  width: auto;
}
@media (max-width: 575px) {
  .preference__sing-up a {
    width: 100%;
  }
}

.footer {
  padding-top: 118px;
}
@media (max-width: 991px) {
  .footer {
    padding-top: 60px;
  }
}
.footer__logo {
  width: 102px;
}
@media (max-width: 991px) {
  .footer__logo {
    width: 66px;
    padding: 20px 0;
  }
}
.footer__logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer__logo img {
  width: 100%;
}
.footer__link-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-bottom: 30px;
}
.footer__list-title {
  font-weight: 600;
}
.footer__list-item a {
  color: #000000;
}
.footer__list-item a:hover {
  text-decoration: underline;
}
.footer__copyright {
  padding: 24px 0;
}

.first-section {
  padding: 72px 0 0;
}
@media (max-width: 767px) {
  .first-section {
    padding: 50px 0 0;
  }
}
.first-section h1 {
  text-align: center;
}
.first-section h1 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding: 42px 0;
  padding-bottom: 0;
}
.first-section__button {
  width: fit-content;
  margin: 40px auto 0;
}
@media (max-width: 575px) {
  .first-section__button {
    width: 100%;
  }
}

.how-it-work h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .how-it-work h2 {
    padding: 50px 0 32px;
  }
}
.how-it-work h2 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 auto;
  padding-top: 42px;
  width: 60%;
}
@media (max-width: 767px) {
  .how-it-work h2 small {
    width: 100%;
  }
}
.how-it-work__picture-box {
  text-align: center;
}
@media (max-width: 767px) {
  .how-it-work__picture-box {
    display: none;
  }
}
.how-it-work__picture-box img {
  width: 95%;
}
.how-it-work__picture--mobile {
  text-align: center;
}
@media (min-width: 768px) {
  .how-it-work__picture--mobile {
    display: none;
  }
}
.how-it-work__picture--mobile img {
  width: max-content;
}
.how-it-work h5 {
  text-align: center;
  font-family: Libre Baskerville, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 767px) {
  .how-it-work h5 {
    margin: auto;
  }
}
.how-it-work__parts {
  height: 100%;
}
@media (max-width: 767px) {
  .how-it-work__parts {
    padding-bottom: 48px;
    max-width: min-content;
    margin: auto;
  }
}
.how-it-work__parts--last {
  padding-bottom: 0;
}

.demo-video {
  padding: 118px 0 0;
}
@media (max-width: 767px) {
  .demo-video {
    padding: 48px 0 0;
  }
}
.demo-video__wrapper {
  max-width: 872px;
  margin: auto;
  position: relative;
}
.demo-video__player {
  width: 100%;
}
.demo-video__popup--starting {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 85, 85, 0.62);
}
.demo-video__button--play {
  display: inline-block;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='116' height='127' viewBox='0 0 116 127' fill='none'%3E%3Cg filter='url(%23filter0_d_678_6874)'%3E%3Cpath d='M30.6178 108.649L97.2155 69.718C105.022 65.1562 105.022 53.8623 97.2155 49.3005L30.6178 10.3698C22.7673 5.76368 12.932 11.4771 12.932 20.5564V98.4621C12.932 107.541 22.7673 113.211 30.6178 108.649Z' fill='%2340ECC3'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_678_6874' x='0.933594' y='0.740234' width='114.137' height='125.52' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_678_6874'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_678_6874' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15%;
  height: 30%;
}
.demo-video__button--play:hover {
  transform: scale(1.1);
}
.demo-video__features-list {
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 40px 0 60px;
  column-gap: 20px;
}
@media (max-width: 575px) {
  .demo-video__features-list {
    padding: 15px 0 0;
  }
}
@media (max-width: 991px) {
  .demo-video__features-list {
    flex-direction: column;
    row-gap: 18px;
  }
}
.demo-video__features-item {
  position: relative;
  margin-left: 40px;
}
.demo-video__features-item:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: -35px;
}
.demo-video__button {
  width: min-content;
  margin: auto;
}
@media (max-width: 575px) {
  .demo-video__button {
    display: none;
  }
}

.bla-bla h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .bla-bla h2 {
    padding: 50px 0 32px;
  }
}
.bla-bla h2 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding-top: 42px;
}
@media (max-width: 575px) {
  .bla-bla h2 small {
    display: none;
  }
}
.bla-bla__button {
  width: fit-content;
  margin: auto;
}
@media (max-width: 575px) {
  .bla-bla__button {
    width: 100%;
  }
}

.soft-features h1 {
  padding: 72px 0 0;
  text-align: center;
}
@media (max-width: 991px) {
  .soft-features h1 {
    padding: 18px 0 0;
  }
}
.soft-features h1 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  padding-top: 42px;
}
@media (max-width: 575px) {
  .soft-features h1 small {
    display: none;
  }
}
.soft-features__lists {
  padding-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 18px;
}
@media (max-width: 575px) {
  .soft-features__lists {
    flex-direction: column;
  }
}
.soft-features__list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  align-items: flex-start;
  margin-left: 40px;
}
.soft-features__item {
  position: relative;
}
.soft-features__item:before {
  display: inline-block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 0C4.925 0 0 4.925 0 11C0 17.075 4.925 22 11 22C17.075 22 22 17.075 22 11C22 4.925 17.075 0 11 0ZM15.768 9.14C15.8558 9.03964 15.9226 8.92274 15.9646 8.79617C16.0065 8.6696 16.0227 8.53591 16.0123 8.40298C16.0018 8.27005 15.9648 8.14056 15.9036 8.02213C15.8423 7.90369 15.758 7.79871 15.6555 7.71334C15.5531 7.62798 15.4346 7.56396 15.3071 7.52506C15.1796 7.48616 15.0455 7.47316 14.9129 7.48683C14.7802 7.50049 14.6517 7.54055 14.5347 7.60463C14.4178 7.66872 14.3149 7.75554 14.232 7.86L9.932 13.019L7.707 10.793C7.5184 10.6108 7.2658 10.51 7.0036 10.5123C6.7414 10.5146 6.49059 10.6198 6.30518 10.8052C6.11977 10.9906 6.0146 11.2414 6.01233 11.5036C6.01005 11.7658 6.11084 12.0184 6.293 12.207L9.293 15.207C9.39126 15.3052 9.50889 15.3818 9.63842 15.4321C9.76794 15.4823 9.9065 15.505 10.0453 15.4986C10.184 15.4923 10.32 15.4572 10.4444 15.3954C10.5688 15.3337 10.6791 15.2467 10.768 15.14L15.768 9.14Z' fill='%23162637'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: -40px;
}

.tariffs-features {
  padding: 118px 0 0;
}
@media (max-width: 767px) {
  .tariffs-features {
    padding: 50px 0 0;
  }
}
.tariffs-features h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.tariffs-features h5 small {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #000000;
  padding: 8px 0 24px;
}
@media (max-width: 575px) {
  .tariffs-features h5 small {
    padding: 4px 0 8px;
  }
}
.tariffs-features .tariffs-features__table .table {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
}
.tariffs-features .tariffs-features__table .table__caption {
  padding-top: 44px;
  text-align: left;
  color: #7C7C7C;
}
.tariffs-features .tariffs-features__table .table__row--header {
  width: 50%;
}
@media (max-width: 767px) {
  .tariffs-features .tariffs-features__table .table__row--header {
    width: 70%;
  }
}
.tariffs-features .tariffs-features__table .table__row--data {
  width: 15%;
}
@media (max-width: 767px) {
  .tariffs-features .tariffs-features__table .table__row--data {
    width: auto;
  }
}
.tariffs-features .tariffs-features__table .table tr:hover {
  background-color: #F5F5F6;
}
.tariffs-features .tariffs-features__table .table tr th {
  padding: 18px;
}
.tariffs-features .tariffs-features__table .table tr td {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #F4F4F5;
  padding: 18px;
}
@media (max-width: 767px) {
  .tariffs-features .tariffs-features__table .table tr td {
    padding: 6px;
    border-right: none;
    border-left: none;
  }
}
.tariffs-features .tariffs-features__table .table tr td:last-child {
  border-right: none;
}
.tariffs-features .tariffs-features__table .table tr td:first-child {
  border-left: 0;
}
@media (max-width: 767px) {
  .tariffs-features .tariffs-features__table .table__empty {
    display: none;
  }
}
.tariffs-features .tariffs-features__table .table__header--manage {
  color: #40ECC3;
}
.tariffs-features .tariffs-features__table .table__header--grow {
  color: #F20D9D;
}
.tariffs-features .tariffs-features__table .table__started {
  width: fit-content;
  margin: auto;
}
.tariffs-features .tariffs-features__table .table__headline {
  text-align: left;
  background-color: #ECECEC;
  font-size: min(calc(18px + 6 * ((100vw - 320px) / 1120)), 24px);
  font-weight: 400;
  line-height: 36px;
}
.tariffs-features .tariffs-features__table .table__column--manage, .tariffs-features .tariffs-features__table .table__column--grow {
  text-align: center;
}
.tariffs-features .tariffs-features__table .table__column {
  position: relative;
}
.tariffs-features .tariffs-features__table .table__column-toggler--left {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
}
.tariffs-features .tariffs-features__table .table__column-toggler--left svg path {
  fill: rgb(54, 64, 74);
}
.tariffs-features .tariffs-features__table .table__column-toggler--right {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: 0;
}
.tariffs-features .tariffs-features__table .table__column-toggler--right svg path {
  fill: rgb(22, 38, 55);
}
.tariffs-features .tariffs-features__table .table__column--grow .table__column-toggler--left:hover path,
.tariffs-features .tariffs-features__table .table__column--grow .table__column-toggler--right:hover path {
  fill: #40ECC3;
}
.tariffs-features .tariffs-features__table .table__column--manage .table__column-toggler--left:hover path,
.tariffs-features .tariffs-features__table .table__column--manage .table__column-toggler--right:hover path {
  fill: #F20D9D;
}
.tariffs-features .tariffs-features__table .table__column-toggler {
  cursor: pointer;
}
@media (min-width: 768px) {
  .tariffs-features .tariffs-features__table .table__column-toggler {
    display: none;
  }
}
.tariffs-features .tariffs-features__table .table__row--toggler {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #40ECC3;
}
.tariffs-features .tariffs-features__table .table__row--toggler a {
  cursor: pointer;
}

.full-reviews {
  padding: 118px 0 0;
}
@media (max-width: 767px) {
  .full-reviews {
    padding: 50px 0 0;
  }
}
.full-reviews__box {
  display: flex;
  justify-content: space-between;
}
.full-reviews .feedback {
  padding-bottom: 32px;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 24px;
}
.full-reviews .feedback__visual {
  width: 100%;
}
.full-reviews .feedback__text:before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='22' viewBox='0 0 23 22' fill='none'%3E%3Cpath d='M2.50641 22C0.83547 19.2075 0 16.3899 0 13.5472C0 11.0314 0.614316 8.62893 1.84295 6.33962C3.09615 4.02516 4.90224 1.91195 7.26122 0L10.0994 1.77358C10.3451 1.92453 10.5171 2.11321 10.6154 2.33963C10.7137 2.54088 10.7628 2.74214 10.7628 2.94339C10.7628 3.16981 10.7137 3.38365 10.6154 3.58491C10.5171 3.78617 10.4065 3.96227 10.2837 4.11321C9.96421 4.49057 9.62019 4.93082 9.2516 5.43396C8.90758 5.93711 8.58814 6.49057 8.29327 7.09434C7.9984 7.67296 7.75267 8.31446 7.55609 9.01887C7.35951 9.72327 7.26122 10.478 7.26122 11.283C7.26122 12.1384 7.39637 13.0566 7.66667 14.0377C7.93696 14.9937 8.39156 16 9.03045 17.0566C9.2516 17.4088 9.36218 17.761 9.36218 18.1132C9.36218 18.9182 8.91987 19.4843 8.03526 19.8113L2.50641 22ZM14.7436 22C13.0726 19.2075 12.2372 16.3899 12.2372 13.5472C12.2372 11.0314 12.8515 8.62893 14.0801 6.33962C15.3333 4.02516 17.1394 1.91195 19.4984 0L22.3365 1.77358C22.5823 1.92453 22.7543 2.11321 22.8526 2.33963C22.9509 2.54088 23 2.74214 23 2.94339C23 3.16981 22.9509 3.38365 22.8526 3.58491C22.7543 3.78617 22.6437 3.96227 22.5208 4.11321C22.2014 4.49057 21.8574 4.93082 21.4888 5.43396C21.1448 5.93711 20.8253 6.49057 20.5304 7.09434C20.2356 7.67296 19.9898 8.31446 19.7933 9.01887C19.5967 9.72327 19.4984 10.478 19.4984 11.283C19.4984 12.1384 19.6335 13.0566 19.9038 14.0377C20.1741 14.9937 20.6287 16 21.2676 17.0566C21.4888 17.4088 21.5994 17.761 21.5994 18.1132C21.5994 18.9182 21.1571 19.4843 20.2724 19.8113L14.7436 22Z' fill='%2340ECC3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 23px;
  height: 22px;
  padding: 18px 0;
}
.full-reviews .feedback__from-where {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  justify-content: flex-start;
  padding-top: 18px;
  font-size: min(calc(12px + 4 * ((100vw - 320px) / 1120)), 16px);
  grid-template-columns: auto max-content auto;
  grid-template-rows: 58px 58px;
  grid-template-areas: "logo name stars" "logo profession salon";
}
@media (max-width: 767px) {
  .full-reviews .feedback__from-where {
    grid-template-columns: 59px max-content auto;
    grid-template-rows: 29px 29px;
  }
}
.full-reviews .feedback__foto {
  grid-area: logo;
  width: 100%;
}
.full-reviews .feedback__name {
  grid-area: name;
  font-weight: 700;
  line-height: 27px;
  padding: 0 5px;
}
.full-reviews .feedback__profession {
  grid-area: profession;
  padding: 0 5px;
}
.full-reviews .feedback__stars-raiting {
  grid-area: stars;
  width: 70px;
  height: 17px;
  position: relative;
}
.full-reviews .feedback__stars-raiting:after, .full-reviews .feedback__stars-raiting:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 14'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='M6.424.817a1 1 0 0 1 1.794 0l1.387 2.811a1 1 0 0 0 .752.547l3.105.454a1 1 0 0 1 .553 1.705L11.77 8.521a1 1 0 0 0-.288.886l.53 3.088a1 1 0 0 1-1.451 1.054l-2.775-1.46a1 1 0 0 0-.93 0L4.08 13.55a1 1 0 0 1-1.451-1.054l.53-3.088a1 1 0 0 0-.288-.886L.626 6.334A1 1 0 0 1 1.18 4.63l3.104-.454a1 1 0 0 0 .753-.547L6.424.817Z'/%3E%3C/mask%3E%3Cpath d='M6.424.817a1 1 0 0 1 1.794 0l1.387 2.811a1 1 0 0 0 .752.547l3.105.454a1 1 0 0 1 .553 1.705L11.77 8.521a1 1 0 0 0-.288.886l.53 3.088a1 1 0 0 1-1.451 1.054l-2.775-1.46a1 1 0 0 0-.93 0L4.08 13.55a1 1 0 0 1-1.451-1.054l.53-3.088a1 1 0 0 0-.288-.886L.626 6.334A1 1 0 0 1 1.18 4.63l3.104-.454a1 1 0 0 0 .753-.547L6.424.817Z' stroke='%23FFB21C' stroke-width='12' stroke-linecap='round' stroke-linejoin='round' mask='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 14px;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.full-reviews .feedback__stars-raiting:after {
  filter: grayscale(0);
}
.full-reviews .feedback .raiting-4:after {
  width: 80%;
}
.full-reviews .feedback__salon-name {
  grid-area: salon;
  color: #40ECC3;
  padding: 0 5px;
}

.coverage h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .coverage h2 {
    padding: 50px 0 32px;
  }
}

.coverage__stats {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15%;
}

.stats {
  position: relative;
  font-family: Libre Baskerville, serif;
  font-weight: 700;
  text-align: left;
}
.stats__circle {
  position: absolute;
  bottom: 20%;
  right: 30%;
  display: block;
  width: 87px;
  height: 87px;
  z-index: -1;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .stats__circle {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 575px) {
  .stats__circle {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 375px) {
  .stats__circle {
    width: 63px;
    height: 63px;
  }
}
.stats__circle--countries {
  background-color: #F767C1;
}
.stats__circle--language {
  background-color: #16ECB9;
}
.stats__number {
  display: block;
  font-size: min(calc(46px + 18 * ((100vw - 320px) / 1120)), 64px);
  line-height: min(calc(57px + 3 * ((100vw - 320px) / 1120)), 60px);
}
.stats__type {
  display: block;
  font-weight: 400;
  font-size: min(calc(13px + 5 * ((100vw - 320px) / 1120)), 18px);
  line-height: 1px;
}

.coverage__link {
  color: #40ECC3;
}
.coverage__link::hover {
  color: #40ECC3;
}
.coverage__link-place {
  text-align: center;
  padding-top: 56px;
}

.our-team h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .our-team h2 {
    padding: 50px 0 32px;
  }
}
.our-team h4 {
  padding-bottom: 62px;
}
@media (max-width: 991px) {
  .our-team h4 {
    padding-bottom: 28px;
  }
}

.our-team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 28px;
}

.our-team__member {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
@media (max-width: 767px) {
  .our-team__member {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .our-team__member {
    width: 100%;
  }
}
.our-team__member-photo {
  width: 124px;
  height: 124px;
}
.our-team__member-name {
  font-weight: 600;
}

.geography h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .geography h2 {
    padding: 50px 0 32px;
  }
}

.geography__map {
  width: 100%;
  max-width: 1218px;
  height: 100%;
  display: inline-block;
  fill: #C9D1D2;
}
.geography__map-place {
  width: 100%;
  text-align: center;
  height: 55vh;
  max-height: 812px;
}
@media (max-width: 1199px) {
  .geography__map-place {
    max-height: 640px;
  }
}
@media (max-width: 991px) {
  .geography__map-place {
    max-height: 500px;
  }
}
@media (max-width: 767px) {
  .geography__map-place {
    max-height: 350px;
  }
}
@media (max-width: 575px) {
  .geography__map-place {
    display: none;
  }
}

.geography__mobile {
  display: none;
  text-align: center;
}
@media (max-width: 575px) {
  .geography__mobile {
    display: block;
  }
}

.geography__list {
  font-weight: 600;
  line-height: 27px;
}

.geography__item {
  padding-bottom: 30px;
}
.geography__item:last-child {
  padding-bottom: 0px;
}

.sing-up h2 {
  padding: 118px 0 72px;
}
@media (max-width: 991px) {
  .sing-up h2 {
    padding: 50px 0 32px;
  }
}

.sing-up__buttons {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
  justify-content: center;
}
@media (max-width: 575px) {
  .sing-up__buttons {
    flex-direction: column;
  }
}

.sing-up__google,
.sing-up__email {
  width: min-content;
}
@media (max-width: 575px) {
  .sing-up__google,
  .sing-up__email {
    width: 100%;
  }
}

/* modal */
.language {
  background-color: #ffffff;
  margin: auto;
}
.language::backdrop {
  background-color: #232222;
  opacity: 0.5;
}
.language__headline-box {
  padding: 10px 24px;
  border-bottom: 1px solid #E1DFDF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language__headline-box h5 {
  font-family: Poppins, sans-serif;
  font-size: min(calc(18px + 6 * ((100vw - 320px) / 1120)), 24px);
  font-weight: 600;
  line-height: 36px;
}
.language__close {
  width: 17px;
  height: 17px;
}
.language__lists {
  padding: 0 24px 10px;
}
.language__list {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
}
.language__list-header {
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid #E1DFDF;
}
.language__item {
  width: 220px;
}
.language__item a {
  color: #000000;
}
.language__item a:hover {
  text-decoration: underline;
}
.language__item img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  transform: translatey(6px);
}

/*# sourceMappingURL=index.css.map */
